<div class="page" ng-controller = "PianoCtrl">
  <form ng-submit="search()">
    <div class="form-group">
      <label>Chord Search</label>
      <input type="text" class="form-control" ng-model="note">
            <input type="text" class="form-control" ng-model="pianoMod">
      <input type="submit" value="Search" class="btn btn-primary">
      </div>
    </form>
    </div>  

    <div id="chord">
      <strong>{{data}}</strong>
    <div>

<ol class="scale-1">
  <li data-note="c" >C</li>
  <li data-note="cs" class="ebony">C# D♭</li>
  <li data-note="d">D</li>
  <li data-note="ds" class="ebony">D# E♭</li>
  <li data-note="e">E</li>
  <li data-note="f">F</li>
  <li data-note="fs" class="ebony">F# G♭</li>
  <li data-note="g">G</li>
  <li data-note="gs" class="ebony">G# A♭</li>
  <li data-note="a">A</li>
  <li data-note="as" class="ebony">A# B♭</li>
  <li data-note="b">B</li>
</ol> 
  
<ol class="scale-2">
  <li data-note="c">C</li>
  <li data-note="cs" class="ebony">C# D♭</li>
  <li data-note="d">D</li>
  <li data-note="ds" class="ebony">D# E♭</li>
  <li data-note="e">E</li>
  <li data-note="f">F</li>
  <li data-note="fs" class="ebony">F# G♭</li>
  <li data-note="g">G</li>
  <li data-note="gs" class="ebony">G# A♭</li>
  <li data-note="a">A</li>
  <li data-note="as" class="ebony">A# B♭</li>
  <li data-note="b">B</li>
</ol>
</div>
